.search-list {
    
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-column-gap: 3rem;
    grid-row-gap: 2rem;
    transition: all .7s .3s;
    //display: none; //test

    &__item {
        list-style: none;
        display: block;
        width: 100%;
        height: 8rem;
        position: relative;
        transition: .5s;
        box-shadow: 1rem 1rem 3rem rgba(211, 211, 211, 0.2);
        

        &--front {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transform-origin: top;
            transition: transform .5s;
            background-color: rgba(255, 255, 255, 0.8);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 3px;
            
            svg {
                width: 65%;
                height: 65%;
                fill: rgb(49, 49, 49);
            }
        }

        &--back {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transform-origin: bottom;
            transition: transform .5s;
            font-size: 2rem;
            text-transform: uppercase;
            letter-spacing: 4px;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(254, 218, 11, 0.8);
            transform: rotateX(90deg) translateY(50%);
            border-radius: 3px;          
        }

        &:hover &--front {
            transform: rotateX(90deg) translateY(-50%);
        }

        &:hover &--back {
            transform: rotateX(0deg) translateY(0);
        }
    }
}

.search-header {
    
    display: block;
    width: 100%;
    text-align: center;
    font-size: 3.5rem; 
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--color-primary-yellow);
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0);
    transition: all .7s;
    //display: none; //test

    &::after {
        content: '';
        display: block;
        width: 40%;
        margin: 0 auto;
        height: 2px;
        background-color: var(--color-primary-yellow);
    }
}

//------------------------------ ANIMATIONS------------------------------
.hide {
    opacity: 0;
    font-size: .1rem;
    width: 0;
}

.topBar {
    top: 10%;
}